<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <p style="padding:20px;"></p>
            <h2 align=center>Score Detail Page Under Construction</h2>
            {{setScoreDetailObject()}}
            <h2>
                {{scoreDetail.course}}
            </h2>
            <h3>
                {{scoreDetail.date}}
            </h3>
            <h4>
                {{scoreDetail.score}}
            </h4>
            <h5>
                {{scoreDetail.tournament}}
            </h5>
        </div>
    </div>
</div>