    <footer class="row-footer">
        <div class="container">
            <div class="row">             
                <div align="center" class="col-xs-12">
                    <ul class="list-inline footer-links">
                        <li><a ui-sref="app">Home</a></li>
                        <li><a ui-sref="app.tourneyList">View Tournaments</a></li>
                        <li><a ui-sref="app.scoreList">View Player Scores</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2017 Golf Tracker</p>
                </div>
            </div>
        </div>
    </footer>
