<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <p style="padding:20px;"></p>
            <h2 align=center>Hello, TestPlayer</h2>
            <h3 align=center>Handicap: 14.2</h3>
        </div>
        <div class="col-xs-12">
            <h2 align=center>Tournament List</h2>
            <div class="list-group">
                <a ng-repeat="tourney in tournaments | limitTo: 5" ui-sref="app.tourneyStandings({tourneyID : {{tourney.id}}})" class="list-group-item list-group-item-action">
                    {{tourney.name}}
                </a>
            </div>
        </div>
        <div class="col-xs-12">
            <h2 align=center>Score List</h2>
            <div class="list-group">
                <a ng-repeat="round in rounds | limitTo: 5" ui-sref="app.scoreDetail({scoreID : {{round.id}}})" class="list-group-item list-group-item-action">
                    {{round.course}}  {{round.score}}  {{round.date}}
                </a>
            </div>
        </div>
    </div>
</div>
